<a href="https://colab.research.google.com/github/zhiyilin/Homework/blob/master/x.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Midterm

![](https://github.com/rpi-techfundamentals/hm-01-starter/blob/master/notsaved.png?raw=1)

**WARNING!!!  If you see this icon on the top of your COLAB sesssion, your work is not saved automatically.**

**Do not manually upload any files.  Use the `wget` command to retreive files.**

**Save your working file in Google drive so that all changes will be saved as you work. MAKE SURE that your final version is saved to GitHub.** 

Before you turn this in, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All). They should run completely without intervention...**i.e., DO NOT not manually upload any files.  Use the `wget` command to retreive files as necesssary.**


### This is a 45 point assignment.

**You may find it useful to go through the notebooks from the course materials when doing these exercises.**

**If you receive assistance from anyone (other than instructor clarification) it will be considered an ethical violation and referred to associate dean.  By listing your name below your are confirming that you have received no unauthorized help in this exam and have completed it yourself.**

In [0]:
course="mgmt6560"   #course number
section="01"          #For example 1 or 2
first_name="Zhiyi"   #For example, "jason"
last_name="Lin"    #For example, "kuruzovich"
student_id="661986988"       #for example "kuruzj"
student_email="linz11@rpi.edu"    #for example "kuruzj@rpi.edu"

In [18]:
#get the data
!wget https://www.dropbox.com/s/02brm5nrxe63ea9/midterm2.csv

--2019-10-23 21:44:33--  https://www.dropbox.com/s/02brm5nrxe63ea9/midterm2.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.82.1, 2620:100:6032:1::a27d:5201
Connecting to www.dropbox.com (www.dropbox.com)|162.125.82.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/02brm5nrxe63ea9/midterm2.csv [following]
--2019-10-23 21:44:33--  https://www.dropbox.com/s/raw/02brm5nrxe63ea9/midterm2.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc7962b1f2f5016848444b932f98.dl.dropboxusercontent.com/cd/0/inline/ArA9QdKVprAKtOzaEUYuaJ2vPZRBbdwMXkYCWAE5d3rOYgPlvrsOFPdCRH4QZulw_D4VmfrzNRSpi7AiXK933eYq2KKP8FstclZ2uLOG6_U6TtMxYsPbzM6TVvaZoMC2WYQ/file# [following]
--2019-10-23 21:44:33--  https://uc7962b1f2f5016848444b932f98.dl.dropboxusercontent.com/cd/0/inline/ArA9QdKVprAKtOzaEUYuaJ2vPZRBbdwMXkYCWAE5d3rOYgPlvrsOFPdCRH4QZulw_D4VmfrzNRSpi7AiXK933eYq2KKP8FstclZ2uLOG6_U6TtMxYsPbzM6TVvaZoMC2WYQ/file
Resolving uc7962b1f2f5016848444b932f98.dl.dropboxusercontent.com (uc7962b1f2f5016848444b932f98.dl.dropboxusercontent.com)... 162.125.82.6, 2620:100:6032:6::a27d:5206
Connecting to uc7962b1f2f5016848444b932f98.dl.dropboxusercontent.com (uc7962b1f2f5016848444b932f98.dl.dropboxusercontent.com)|162.125.82.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 353920 (346K) [text/plain]
Saving to: ‘midterm2.csv.1’

midterm2.csv.1      100%[===================>] 345.62K  --.-KB/s    in 0.1s

2019-10-23 21:44:34 (3.21 MB/s) - ‘midterm2.csv.1’ saved [353920/353920]

In [47]:
import pandas as pd
data  = pd.read_csv("midterm2.csv")
data.head()

   v1  v2  v3  v4  v5  v6  v7  v8  v9  v10  group           y
0   1   1   1   1   1   1   1   1   1    0      0  453.521369
1   1   1   1   1   1   1   1   1   1    1      0  151.919191
2   1   1   0   1   0   1   1   0   1    0      0 -141.666991
3   1   0   1   1   1   1   0   0   0    1      0 -227.245474
4   1   0   0   1   0   0   0   1   0    0      0 -130.752790

### (10 points) 1. Predict Group Using Different Sets of IVs 

Predict the `group` variable from `v1-v5` and then from `v6-v10` using k Nearest Neighbor algorithm and all of the data (i.e., don't do train test split) and the default hyperparameters. **IGNORE  `target` variable for now.** 

`accuracy_v1_5`

`accuracy_v6_10`

In [0]:
data_v1_5= data.iloc[ :,0 : 5]
data_v6_10= data.iloc[ :,6:10]

from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier()

classifier.fit(data_v1_5, data.group)

pred_group_v1_5 = classifier.predict(data_v1_5)

classifier.fit(data_v6_10, data.group)

pred_group_v6_10 = classifier.predict(data_v6_10)

In [25]:
from sklearn import metrics

accuracy_v1_5 = metrics.accuracy_score(pred_group_v1_5, data.group)
accuracy_v1_5

0.7491

In [24]:
accuracy_v6_10 = metrics.accuracy_score(pred_group_v6_10, data.group)
accuracy_v6_10

0.4969

### (10 points) 2. Null model

What would the accuracy of the null/naive model be?  Set it `accuracy_null`.

How would you interpret the model for `accuracy_v1_5`, `accuracy_v6_10`, vs the null model.

In [46]:
data_new = data.copy()

data_new['NullModel'] = 0

accuracy_null= metrics.accuracy_score(data_new['NullModel'], data.group)
accuracy_null
round(accuracy_null,1)

1    5000
0    5000
Name: group, dtype: int64

0.5

In [0]:
q1 = """ 
since accuracy_v1_5 > accuracy_null > accuracy_v6_10
We can say that the first model(the one using variables v1-v5) is better to apply to new data because its accuaracy is higher than that of the null model, 
and we can drop the second model(the oee using variables v6-v10) because its accuracy is below that of null model.
"""

### (10 points) 3. Perform linear regression using SciKit Learn.  

Perform two regression analyses.  

For `analysis1` select the independent variables `v1-v10` (all v variables) and `group` and regress on the dependent variable `target`.  Calculate the r2  for the linear regression and assign the r2 to the `r2_analysis1` variable.

For `analysis2` filter to only include rows where `group` is equal to 1. Select the independent variables `v1-v10` (all v variables) regress on the dependent variable `target`.  Calculate the r2  for the linear regression and assign the r2 to the `r2_analysis2` variable.

Print `r2_analysis1` and  `r2_analysis2` to make sure they are set.

In [56]:
import numpy as np
from sklearn.linear_model import LinearRegression

lm = LinearRegression()
lm.fit(data.iloc[:,0:11], data.y )

r2_analysis1=lm.score(data.iloc[:, 0:11], data.y)

0.5748435722769081

In [73]:
data_filter = data[data.group==1]

lm.fit(data_filter.iloc[:,0:10], data_filter.y )

r2_analysis2=lm.score(data_filter.iloc[:, 0:10], data_filter.y)
r2_analysis2

0.637262959842223

In [74]:
#Print r2_analysis1 and r2_analysis2 to make sure they are set.
print(r2_analysis1, r2_analysis2)

0.5748435722769081 0.637262959842223

### (10 points) Train Test Split
Using the `random_state=99` do a 50 50 train test split of only variables `v1-v10` and the `target` for y.   Your split should create the following 

`train_X`, `test_X`, `train_y`, `test_y`

In [0]:
from sklearn.model_selection import train_test_split


train_X, test_X, train_y, test_y = train_test_split(data.iloc[:,0:10], data.y, 
                                                    train_size=0.5,
                                                    test_size=0.5,
                                                    random_state=99)

### (5. points) Describe why the testing or validation set is important for assessment of a machine learning model.

In [0]:
q5 = """ 
testing or validation set is used to avoid overfitting a model, 
thus improve the accuracy of the prediction result 
If there is no testing set, we don't know if the model is well_trained and can be put into use 
"""

### You must commit your final notebook to github by 5:50 PM.  Any commits after that time will not be accepted. 

Click [this link](https://classroom.github.com/a/LAzmhlFi) to generate the repository for submission.